#top1{
    background-color: green;
}
#logo img {
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 23px;
    background-color: white;
    width: 286px;
    height: 109px;
}

#search {
    height: 92px;
    width: 1369px;
    margin: 32px auto;
    text-align: center;
}
input{
    height: 47px;
    width: 624px;
    margin: -2px auto;
    text-align: center;
    font-size: 42px;
    border: 2px solid black;

}
svg{
    height: 61px;
    width: 61px;
}

#bag img{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: -7px;
    height: 154px;
    width: 154px;
}
h3{
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}
#slider{
    margin: 22px auto;
    padding: 95px 95px;
    background: url(../images/hpenvy.jfif)no-repeat center center/cover;
    height: 200px;
    width: 400px;
    animation: slide 10s infinite 1s ease normal;
}
@keyframes slide {
    25%{
        background: url(../images/hp1.jpg)no-repeat center center/cover; 
        width: 350px;
        height: 150px;
    }
    50%{
        background: url(../images/hp2.jfif)no-repeat center center/cover; 
        width: 350px;
        height: 150px;
    }
    75%{
        background: url(../images/hp3.jpeg)no-repeat center center/cover; 
        width: 350px;
        height: 150px;
    }
    100%{
        background: url(../images/hpenvy.jfif)no-repeat center center/cover; 
        width: 350px;
        height: 150px;
    }
}
p{
    font-size: 34px;
    text-align: center;
    
}
.btn{
    width: 314px;
    height: 34px;
    text-decoration: none;
    font-size: 21px;
    background-color:rgb(43, 189, 43);
}
.btn:hover{
    background-color: rgb(51, 255, 0);
    cursor: pointer;

}