.top{
    background-color: green;
}
#logo img {
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 23px;
    background-color: white;
    width: 286px;
    height: 109px;
}


#search {
    height: 92px;
    width: 1369px;
    margin: 32px auto;
    text-align: center;
}
input{
    height: 47px;
    width: 624px;
    margin: -2px auto;
    text-align: center;
    font-size: 42px;
    border: 2px solid black;

}
svg{
    height: 61px;
    width: 61px;
}

#bag img{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: -7px;
    height: 154px;
    width: 154px;
}
h1{
    font-size: 30px;
    text-align: center;
    margin: 10px 10px;

}
.form{
    text-align: center;
    justify-content: center;
    margin: 15px auto;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.form input{
    margin: 15px 20px;
    font-size: 20px;

}
.bit{
    width: 314px;
    height: 34px;
    text-decoration: none;
    font-size: 21px;
    margin: 10px 10px;
    background-color:rgb(43, 189, 43);
}
.bit:hover{
    background-color: rgb(51, 255, 0);
    cursor: pointer;

}
.bit a{
    color: black;
    text-decoration: none;
}
