#top1{
    background-color: green;
}
#logo img {
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 23px;
    background-color: white;
    width: 286px;
    height: 109px;
}


#search {
    height: 92px;
    width: 1369px;
    margin: 32px auto;
    text-align: center;
}
input{
    height: 47px;
    width: 624px;
    margin: -2px auto;
    text-align: center;
    font-size: 42px;
    border: 2px solid black;

}
svg{
    height: 61px;
    width: 61px;
}

#bag img{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: -7px;
    height: 154px;
    width: 154px;
}
.row{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 26px;
    height: 70px;
    justify-content: center;
    text-align: center;
}
.icons{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    border: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.icons a{
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.icons a:hover{
    text-decoration: underline;
    color: rgb(71, 255, 55);
    border: 2px solid silver;
}
#highlight{
    text-decoration: underline;
    color: rgb(71, 255, 55);
    border: 2px solid silver;
}
.offers{
    display: grid;
    height: 2100px;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    border: 3px solid black;
}
.box{
    width: 450px;
    height: 600px;
    margin: 10px 10px;
    padding: 5px 5px;
}
.box img{
    width: 400px;
    height: 400px;
    margin: 2px auto;
}
.box p{
    font-size: 34px;
    /* text-align: center; */
    
}
.btn{
    width: 314px;
    height: 34px;
    text-decoration: none;
    font-size: 21px;
    background-color:rgb(43, 189, 43);
}
.btn:hover{
    background-color: rgb(51, 255, 0);
    cursor: pointer;

}
.navbar{
    display: flex;
    position: fixed;
    bottom: 0;
    margin: 4px 45px 5px 57px;
    margin-left: 319px;
    border: 4px solid #000000;
    height: 60px;
    width: 766px;
    background-color: #010101;
}
.function{
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}
.function:hover{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
}
.function img{
    height: 55px;
    width: 120px;
    border-radius: 30px;
}